<!DOCTYPE html>
    <html>
    <head>
        <title>Boilerplate HBS</title>
        {{{styles}}}
        <script>window.INITIAL_STATE = {{{data}}};</script>
        <script src="/vendor.bundle.js" defer></script>
        <script src="/bundle.js" defer></script>
    </head>

    <body>
        <div id="app">{{{markup}}}</div>
    </body>
</html>